*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: purple;
  color: white;
  font-family: 'Playfair Display', serif;
  transition: .5s;
}

.container,
.container2 {
  display: inline-block;
  text-align: center;
  min-height: 100vh;
  padding: 15px 0;
  width: 50vw;
}

.container {
  float: left;
}

.container2 {
  float: right;
}

.quote-box {
  position: relative;
  display: inline-block;
  width: 80%;
}

.quote {
  font-size: 4vw;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.title {
  text-align: center;
  font-size: 4vw;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.source {
  font-size: 1.25vw;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: " ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

.tag {
  display: inline-block;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  background: black;
  text-transform: uppercase;
}

.tags:before {
  content: "";
  display: block;
  clear: both;
}

#loadQuote,
#loadQuote2 {
  width: 12em;
  display: inline-block;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  background-color: rgba(0,0,0,.75);
  padding: 15px 0;
  transition: .5s ;
}

#loadQuote:hover,
#loadQuote2:hover {
  background-color: rgba(255,255,255,.25);
}

#loadQuote:focus,
#loadQuote2:focus {
  outline: none;
}
